.details-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px gray solid;
}

.details-img-container {
    position: relative;
}

.details-container img {
    width:100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

.details-info {
    width: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}
.details-cp, .details-hp  {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr auto;
    padding-left: 10px;
}
.details-text-cp, .details-text-hp {
    line-height: 6px;
    width: 70px
}
.details-text-name {
    font-size: 26px;
    margin: 0px;
    padding-left: 10px;

}
.details-text-type {
    line-height: 10px !important;
    padding-left: 10px;
}
.details-bar-cp {
    width: 100%;
    border-radius: 15px;
    height: 10px;
    background-color: rgb(116, 85, 240);
}

.details-bar-hp {
    width: 100%;
    border-radius: 15px;
    height: 10px;
    background-color: rgb(62, 184, 170);
}

.details-size {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 17px;
}

.details-status {
    position: relative;
}

.details-weight, .details-height {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightslategray;
    border-right-style: unset;
    border-bottom-style: unset;
}
.details-text-weight, .details-text-height {
    margin-top: 15px;
    margin-bottom: 0px;
}
.details-weight {
    border-left-style: unset;
}

.heart-icon  {
    position: absolute;
    right: 10px;
    top: 20px;
    color: red;
    cursor: pointer;
    font-size: 18px;
}
.audio-icon {
    font-size: 40px;
    bottom: 10px;
    left: 10px;
    top: -50px;
    color: rgb(62, 184, 170);
    position: absolute;
}

.audio-icon:hover {
    color: rgb(49, 150, 138);
}
.audio-icon:active {
    color: rgb(49, 150, 138);
    font-size: 39px;
}

.details-evolutions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.evolutions-title {
    font-size: 25px;
}
.details-evolutions div img {
    width: 100%;
    max-width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.details-evolutions-card {
    border: 1px gray solid;
    display: grid;
    grid-template-rows: 1fr;
    width:100%;
    align-items: center;
    position: relative;
}

.details-evolutions-info {
    width:100%;
    display: grid;
    padding-left: 10px;
    height: 30px;
    margin-top: 20px;
    background-color: lightgray;
    position: relative;
}

.evolution-name {
    font-size: 20px;
}

.heart-icon-evolution {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: red;
    cursor: pointer;
    font-size: 18px;
}

@media only screen and (max-width: 992px) {
    .details-evolutions  {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 767px) {
    .details-evolutions  {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 480px) {
    .details-evolutions  {
        grid-template-columns: 1fr;
    }
}