.filters-container {
    padding: 10px;
    display:flex;
    flex-direction: column;
    border: 1px lightgray solid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;    margin-bottom: 10px;
}

.filters-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filters-buttons button {
    border-radius: 0%;
}

.filters-options {
    display: grid;
    grid-template-columns: 0.9fr auto auto;
    column-gap: 7px;
    width: 100%;
    min-height: 38px;
    margin: 10px 0px 10px 0px;
    /* margin: 10px; */
}

.filters-options input, .filters-options select {
    border: 0px;
    outline: none;
    padding-left: 10px;
    background-color: lightgray !important;
}

@media only screen and (max-width: 767px) {
    .filters-options {
        grid-template-columns: auto auto auto;
    }
    
}

@media only screen and (max-width: 600px) {
    .filters-buttons   {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .filters-options {
        grid-template-columns: 1fr;
        gap: 10px;

    }
    .filters-options input, .filters-options select {
        height: 38px
    }
}